@font-face {
    font-family: 'BRRR';
    src: url('BRRR/BRRR-Medium.woff2') format('woff2'),
        url('BRRR/BRRR-Medium.woff') format('woff'),
        url('BRRR/BRRR-Medium.ttf') format('truetype'),
        url('BRRR/BRRR-Medium.svg#BRRR-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
#mail{
	position: absolute;
	left: 30%;
	top: 10px;
	z-index: 300;
}
#screenshot{
	position: absolute;
	left: 30%;
	top: 0%;
}



/* HOMEPAGE RULES */
*{
	padding: 0;
	margin: 0;
}

body {
	font-family: BRRR, sans-serif;
	font-weight: 500; /* weigth = 500 (medium) - 400 (normal) - 600 (bold) */
	color: white;
    margin: 0px;
	font-size: 20px;
	background-color: black;
}
a {
	text-decoration: none;
	color: white;
}
.navbar{
	height: 92px;
	width: 100%;
	position: fixed;
	background-color: black;
	color: white;
	line-height: 92px;
	z-index: 101;
}
.home{
	position: absolute;
	font-size: 40px;
	left: 20px;
}
.sections{
	position: absolute;
	left: 54%;
	font-family: neue-haas-unica, sans-serif;
	font-weight: 500; /* weigth = 500 (medium) - 400 (normal) - 600 (bold) */
}
.sections > a:nth-child(2){
	position: relative;
	left: 17%;
}
.sections > a:nth-child(3){
	position: relative;
	left: 34%;
}
.sections > a:nth-child(4){
	position: relative;
	left: 51%;
}

.wrapper{
	display: flex;
	height: calc(100% - 92px);
	width: 100%;
	position: absolute;
	top: 92px;
	border-top: 2px solid white;
}

#customiser{
	position: relative;
	height: 100%;
	width: calc(100% - 340px);
	z-index: 2;
}
#video_home{
	position: absolute;
}

.side-column{
	position: relative;	
	width: 340px;
	height: 99%;
	border-left: 1px solid white;
}

.link{
	position: relative;
	width: 100%;
	text-align: start;
	left: 4%;
	top: 80%;
	font-size: 40px;
	z-index: 2;
}
.related{
	width: 46.6%;
	height: 74.1%;
	position: relative;
	left: 44%; 
	background-size: contain;	
}
.r_pic1{
	background-image: url('../public/json/assets/home/icons.png');
	background-repeat: no-repeat;
}
.r_pic2{
	background-image: url('../public/json/assets/home/about_us.png');
	background-size: cover;
}
.r_pic3{
	background-image: url('../public/json/assets/home/about_us.png');
	background-repeat: no-repeat;
}

#icons{
	height: 33.33%;
}
#about{
	height: 33.33%;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
#project{
	height: 33.33%;
}


/* CUSTOMISE_1 RULES */
.components_wrapper{
	position: absolute;
	top: 92px;
	height: calc(100% - 92px);
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.components_wrapper > *{
	width: 49.8%;
	height: 49.8%;
	border: 1px solid white;
}
.components_wrapper > * > h2{
	color:#00ff00;
	position: relative;
	top: 20px;
	width: 93%;
	text-align: end;
}

.calcio{
	background-image: url('../public/json/assets/img/calcio.png');
	background-size: cover;
}
.canna{
	background-image: url('../public/json/assets/img/canna.png');
	background-size: cover;
}
.grilletto{
	background-image: url('../public/json/assets/img/grilletto.png');
	background-size: cover;
}
.dettagli{
	background-image: url('../public/json/assets/img/dettagli.png');
	background-size: cover;
}
.btn{
	width: 160px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: black;
	background-color: #00ff00;
	font-family: neue-haas-unica, sans-serif;
	font-weight: 500;
}
.done{
	position: absolute;
	top: 91%;
	left: 50%;
	transform: translate(-50%);
}

/* EMAIL */
.email{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 25%;
	display: none;
	z-index: 300;
	/* z-index: 300; needs to change later, back to 300 */
	width: 430px;
}
.send{
	position: relative;
	left: 270px;
}
input{
	position: absolute;
	height: 36px;
	width: 260px;
	font-size: 20px;
}

/* CANVAS */
.wrapper_cont{
	position: absolute;
	background-color: black;
	height: 100%;
	width: 100%;
	top: 100%;
}
#container {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	top: 20%;
	background-color: white;
}
.orbit_anim{
	position: absolute;
	top: 85%;
	left: 40%;
	width: 250px;
	height: 150px;
	background-image: url('../public/json/assets/3D_animation.gif');
	background-size: contain;
}

/* Back to top  */
.btn_container{
	position: relative;
	top: 25%;
	left: 12%;
	width: 55px;
}
.back_to_top{
	position: relative;
	left: 25%;
	width: 26px;
	height: 39px;
	background-image: url('../public/json/assets/img/arrow.png');
}
.back_to_top_txt{
	position: relative;
	width: auto;
	font-family: neue-haas-unica, sans-serif;
	font-weight: 500; /* weigth = 500 (medium) - 400 (normal) - 600 (bold) */
}

.finish{
	position: relative;
	top: 95%;
	left: 80%;
}

/* PALETTE SELECTOR */
.color_wrapper{
	z-index: -100; 
	width: 95%;
	height: 92%;
	position: absolute;
	margin: 0 2.5%;
	top: 102%;
	background-color:rgb(21, 21, 21);
	overflow: scroll;
	font-family: neue-haas-unica, sans-serif;
	font-weight: 500; /* weigth = 500 (medium) - 400 (normal) - 600 (bold) */
}

.visibility{
	z-index: 10;
	overflow: scroll;
	animation: vis 0.8s cubic-bezier(.8, 0, .2, 1) forwards;
}
@keyframes vis {
    from{ transform: translate(0, 0); }
    to { transform: translate(0, -101%); }
}

/* CLOSE COLOR PALETTE */
.close{
	position: sticky;
	top: 1%;
	left: 1%;
	height: 30px;
	width: 30px;
	background: url('close.svg') no-repeat;
	background-size: contain;
	z-index: 10;
}
.close_txt{
	color: white;
	position: fixed;
	top: 1%;
	left: 5%;
	height: 30px;
	line-height: 30px;
}
.color_palette{
	width: 96%;
	margin: 0 2%;
	height: auto;
	position: absolute;
	top: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	overflow: scroll;
}
.color_palette div{
	height: 300px;
	width: 260px;
	margin: 15px 0 50px 0;
}
.color_palette div p {
	position: relative;
	color: white;
	top: 305px;
}
.on_focus{
	border: 3px solid white;
	width: 265px;
	height: 305px;
}

.top{
	z-index: 100;
}
.noScroll{
	overflow: hidden;
}

.magenta{
	background-color: #ff33cc;
}
.obsidian{
	background-color: #000000;
}
.lime{
	background-color: #ccff00;
}
.extramarine{
	background-color: #2a0dff;
}
.calx{
	background-color: #00ff00;
}
.orange{
	background-color: #ff5310;
}
.white{
	background-color: #fff;
}
.fuck{
	background-color: #ff0066;
}
.t_1{
	background-image: url('../public/json/assets/calcio/texture1.png');
}
.t_2{
	background-image: url('../public/json/assets/calcio/texture2.png');
}
.t_3{
	background-image: url('../public/json/assets/calcio/texture3.png');
}
.t_4{
	background-image: url('../public/json/assets/calcio/texture4.png');
}
.t_5{
	background-image: url('../public/json/assets/calcio/texture5.png');
}
.t_6{
	background-image: url('../public/json/assets/calcio/texture6.png');
}
.t_7{
	background-image: url('../public/json/assets/calcio/texture7.png');
}
.t_8{
	background-image: url('../public/json/assets/calcio/texture8.png');
}



/* ABOUT US */
.animated_txt{
	position: relative;
	width: 100%;
	top: 152px;
}
.outline{
	-webkit-text-stroke: 1px white;
	-webkit-text-fill-color: black;
}
.video{
	position: relative;
	margin: 200px 0;
	left: 50%;
	transform: translate(-50%);
}
#about_vid{
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

 /* Photo section  */
.photo_wrapper{
	position: relative;
	font-size: 22px;
	display: flex;
	flex-wrap: wrap;
}
.photo_container{
	position: relative;
	width: 100%;
	height: 850px;
}
.outline_txt{
	position: absolute;
	font-size: 28px;
	width: 500px;
	-webkit-text-stroke: 1px white;
	-webkit-text-fill-color: black;
}
.outline_txt_1{
	-webkit-text-stroke: 1px white;
	-webkit-text-fill-color: black;
}
.parameters{
	position: absolute;
	line-height: 24px;
	width: 300px;
}
.about_pic{
	position: absolute;
	background-size: contain;
}

/* FIRST PHOTO CONTAINER */
.ph_1{
	width: 340px;
	height: 510px;
	left: 46%;
	background-image: url('../public/json/assets/about_us/pics/meani_bianca.png');
	z-index: 1;
}
.ph_2{
	width: 250px;
	height: 370px;
	background-image: url('../public/json/assets/about_us/pics/mea.png');
	left: 25%;
	top: 35%
}
.txt_1{
	top: 62%;
	left: 66%;
}
.txt_2{
	top: 85%;
	left: 57%;
}

/* SECOND PHOTO CONTAINER */
.ph_3{
	width: 340px;
	height: 510px;
	background-image: url('../public/json/assets/about_us/pics/in_3.png');
	left: 32%;
	top: 10%
}
.ph_4{
	width: 250px;
	height: 370px;
	background-image: url('../public/json/assets/about_us/pics/bianca.png');
	left: 59%;
	top: 13%
}
.txt_3{
	top: 3%;
	left: 32%;
}
.txt_4{
	top: 76%;
	left: 26%;
}

/* THIRD PHOTO CONTAINER */
.ph_5{
	width: 400px;
	height: 600px;
	background-image: url('../public/json/assets/about_us/pics/allas1.gif');
	background-size: cover;
	left: 20%;
	top: 7%
}
.ph_6{
	width: 400px;
	height: 600px;
	background-image: url('../public/json/assets/about_us/pics/allas.png');
	background-size: cover;
	left: 52%;
	top: 7%
}
.txt_5{
	left: 71%;
}
.txt_6{
	top: 83%;
	left: 52%;
}

/* FOURTH PHOTO CONTAINER */
.ph_7{
	background-image: url('../public/json/assets/about_us/pics/allas_seduto.png');
	background-size: cover;
	width: 250px;
	height: 360px;
	left: 53%;
	top: 11%;
}
.ph_8{
	background-image: url('../public/json/assets/about_us/pics/allas_bianca.png');
	width: 320px;
	height: 480px;
	left: 27%;
	top: 25%;
}
.txt_7{
	top: 11%;
	left: 43%;
}
.txt_8{
	top: 85%;
	left: 53%;
}



/* ICONS */
.collabs{
	position: absolute;
	top: 92px;
	width: 90%;
	left: 50%;
	transform: translate(-50%);
}
.table{
	position: relative;
	display: flex;
	width: 100%;
	height: 800px;
	margin: 30px 0 110px 0;
	
}
.artist{
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
}
.weapon{
	position: absolute;
	left: 50%;
	background-size: contain;
	background-repeat: no-repeat;
}
.artist{
	position: relative;
	width: 48%;
	height: 100%;
}
.art_1{
	position: relative;
	width: 48%;
	height: 100%;
	background-image: url('../public/json/assets/icons/Billie_Eilish/billie.png');
}
.gun_1{
	top: 10%;
	width: 48%;
	height: 80%;
	background-image: url('../public/json/assets/icons/Billie_Eilish/gun.png');
	background-position: 40%;
}


/* PROJECT */
.project_txt{
	width: 62%;
	position: absolute;
	top: 16%;
	left: 3%;


	font-family: neue-haas-unica, sans-serif;
	font-weight: 500;
	font-size: 30px;
	line-height: 40px;
}