@font-face {
    font-family: 'BRRR';
    src: url('BRRR/BRRR-Medium.woff2') format('woff2'),
        url('BRRR/BRRR-Medium.woff') format('woff'),
        url('BRRR/BRRR-Medium.ttf') format('truetype'),
        url('BRRR/BRRR-Medium.svg#BRRR-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
.email{
	position: absolute;
	left: 20%;
	top: 10px;
	z-index: 100;
}
#mail{
	position: absolute;
	left: 30%;
	top: 10px;
	z-index: 300;
}
#screenshot{
	position: absolute;
	left: 30%;
	top: 0%;
}

*{
	padding: 0;
	margin: 0;
}

body {
	font-family: neue-haas-unica, sans-serif;
	font-weight: 500; /* weigth = 500 (medium) - 400 (normal) - 600 (bold) */
	font-style: normal;
    margin: 0px;
	overflow: hidden;	
}
a{
	text-decoration: none;
	color: black;
}

.home{
	position: absolute;
	font-family: BRRR, sans-serif;
	font-weight: 500; /* weight = 500 (medium) - 400 (normal) - 600 (bold) */
	font-style: normal;
	font-size: 30px;
	left: 20px;
}

.navbar{
	width: 100%;
	height: 80px;
	position: fixed;
	list-style-type: none;
	line-height: 80px;

}
.wrapper{
	display: flex;
	position: relative;
	left: 65%;
	list-style-type: none;
}
#about{
	position: relative;
	left: 6%;
}
#gallery{
	position: relative;
	left: 12%;
}

#container {
    position: absolute;
    top: 80px;
    display: block;
	overflow: hidden;
}

.components{
	position: absolute;
	left: 30%;
	bottom: 100px;
	width: 100px;
	display: flex;
	width: auto;
}
.components > * {
	border: 1px solid black;
	height: 30px;
	width: 30px;
	margin: 5px;
	transform-origin: center center;
}
.selected{
	animation: focus .3s cubic-bezier(.8, 0, .2, 1) forwards;
	transform-origin: center center;
}
@keyframes focus {
    from{ transform: scale(1); }
	to { transform: scale(0.5);
	background-color: black; }
}

/* .components>div:nth-child(1){

}
.components>div:nth-child(2){

}
.components>div:nth-child(3){

}
.components>div:nth-child(4){
	
} */

/* PALETTE SELECTOR */
.components>div:nth-child(5){
	position: relative;
	left: 20px;
	background-image: url('palette.png');
	background-size: cover;
	border: none;
	/* background: rgb(34,193,195);
	background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(120,98,191,1) 29%, rgba(179,189,96,1) 66%, rgba(253,187,45,1) 100%); */
}
.done{
	position: relative;
	left: 70%;
	width: 90px;
	line-height: 28px;
	text-align: center;
}

.color_wrapper{
	z-index: -1; 
	width: 94%;
	height: 98%;
	position: absolute;
	left: 3%;
	top: 102%;
	background-color:rgba(29,29,27,0.6);

}

/* COLOR PALETTE VISIBILITY */
.visibility{
	z-index: 10;
	animation: vis 0.8s cubic-bezier(.8, 0, .2, 1) forwards;
	transform-origin: center center;
}
@keyframes vis {
    from{ transform: translate(0, 0); }
    to { transform: translate(0, -100%); }
}

/* CLOSE COLOR PALETTE */
.close{
	position: absolute;
	top: 1%;
	left: 50%;
	transform: translate(-50%);
	width: 50px;
	height: 50px;
	background: url('down.png') no-repeat;
	background-size: contain;
}
.blur{
	animation: blur 0.8s cubic-bezier(.8, 0, .2, 1) forwards;
}
@keyframes blur {
	0% {}
	100% { filter: blur(7px);}
}

.color_palette{
	width: 100%;
	height: auto;
	position: absolute;
	top: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	cursor: pointer;	
}

.color_palette div:not(.textures){
	height: 110px;
	width: 220px;
	margin: 10px 0;
}

.textures{
	width: 100%;
	height: 240px;
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.textures div{
	height: 110px;
	width: 220px;
	margin: 10px 0;
	background-color: #fff;
}

.top{
	z-index: 100;
}

#colors_co{
}

#colors_ca{
}

#colors_gr{
}

#colors_de{
}

.magenta{
	background-color: #ff33cc;
}
.obsidian{
	background-color: #000000;
}
.lime{
	background-color: #ccff00;
}
.extramarine{
	background-color: #2a0dff;
}
.calx{
	background-color: #00ff00;
}
.orange{
	background-color: #ff5310;
}
.white{
	background-color: #fff;
}
.fuck{
	background-color: #ff0066;
}