@font-face {
    font-family: 'BRRR';
    src: url('BRRR/BRRR-Medium.woff2') format('woff2'),
        url('BRRR/BRRR-Medium.woff') format('woff'),
        url('BRRR/BRRR-Medium.ttf') format('truetype'),
        url('BRRR/BRRR-Medium.svg#BRRR-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

#mail{
	position: absolute;
	left: 30%;
	top: 10px;
	z-index: 300;
}
#screenshot{
	position: absolute;
	left: 30%;
	top: 0%;
}

/* LOADER */
.load_wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 10000;
	display: none; /*da cambiare */
}

.loader{
	background-image: url('../public/json/assets/spinner.gif');
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
	height: 100px;
	background-size: contain;
}

/* HOMEPAGE RULES */
*{
	padding: 0;
	margin: 0;
}

body {
	font-family: BRRR, sans-serif;
	font-weight: 500; /* weigth = 500 (medium) - 400 (normal) - 600 (bold) */
	color: white;
    margin: 0px;
	font-size: 20px;
	background-color: black;
	width: 100%;
}
a {
	text-decoration: none;
	color: white;
}
.navbar{
	height: 92px;
	background-color: black;
	width: 100%;
	position: fixed;
	color: white;
	line-height: 92px;
	z-index: 101;
}
.footer_container{
	height: 70px;
	line-height: 70px;
	border-top: 1px solid white;
}
.footer{
	font-family: neue-haas-unica, sans-serif;
	font-weight: 500; /* weigth = 500 (medium) - 400 (normal) - 600 (bold) */
	max-width: 95%;
	margin: 0 auto;
	height: 70px;
	line-height: 70px;
}
.social{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}
.map{
	position: absolute;
	left: 80%;
}

.home{
	position: absolute;
	font-size: 40px;
	left: 20px;
}

.sections{
	position: absolute;
	left: 51%;
	font-family: neue-haas-unica, sans-serif;
	font-weight: 500; /* weigth = 500 (medium) - 400 (normal) - 600 (bold) */
}
.sections > a:nth-child(2){
	position: relative;
	left: 17%;
}
.sections > a:nth-child(3){
	position: relative;
	left: 34%;
}
.sections > a:nth-child(4){
	position: relative;
	left: 51%;
}

.wrapper{
	display: flex;
	height: calc(100% - 92px);
	width: 100%;
	position: fixed;
	top: 92px;
	border-top: 2px solid white;
}

#customiser{
	position: relative;
	height: 100%;
	width: calc(100% - 340px);
	z-index: 2;
	/* border-right: 1px solid white; */
}
#video_home{
	position: absolute;
	height: 100%;
}

.side-column{
	position: relative;	
	width: 340px;
	height: 100%;
	border-left: 2px solid white;
}

.link{
	position: relative;
	width: 100%;
	text-align: start;
	left: 4%;
	top: 75%;
	font-size: 40px;
	z-index: 2;
	color: #00ff00;
}
.related{
	width: 46.6%;
	height: 74.1%;
	position: relative;
	left: 44%; 
	top: -7%;
	background-size: contain;	
	background-repeat: no-repeat;
}
.r_pic1{
	background-image: url('../public/json/assets/home/billie.jpg');
	background-size: cover;
}
.r_pic2{
	background-image: url('../public/json/assets/home/about_us.png');
}
.r_pic3{
	background-image: url('../public/json/assets/home/project.png');
}

#icons{
	height: 33.33%;
}
#about{
	height: 33.33%;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}
#project{
	height: 33.33%;
}


/* CUSTOMISE_1 RULES */
.components_wrapper{
	position: absolute;
	top: 92px;
	height: calc(100% - 92px);
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.components_wrapper > *{
	width: 49.8%;
	height: 49.8%;
	border: 1px solid white;
}
.components_wrapper > * > h2{
	color:#00ff00;
	position: relative;
	top: 20px;
	width: 93%;
	text-align: end;
}

.calcio{
	background-image: url('../public/json/assets/img/calcio.png');
	background-size: cover;
}
.canna{
	background-image: url('../public/json/assets/img/canna.png');
	background-size: cover;
}
.grilletto{
	background-image: url('../public/json/assets/img/grilletto.png');
	background-size: cover;
}
.dettagli{
	background-image: url('../public/json/assets/img/dettagli.png');
	background-size: cover;
}
.btn{
	width: 160px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: black;
	background-color: #00ff00;
	font-family: neue-haas-unica, sans-serif;
	font-weight: 500;
}
.done{
	position: absolute;
	top: 91%;
	left: 50%;
	transform: translate(-50%);
}

/* EMAIL */
.email_form{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 25%;
	display: none;
	z-index: 300;
	/* z-index: 300; needs to change later, back to 300 */
	width: 430px;
}
.email_form > p {
	font-family: neue-haas-unica, sans-serif;
	font-weight: 500;
}
.email_form > p:nth-of-type(1){
	margin-bottom: 15px;
}
.send{
	position: relative;
	left: 270px;
}
.confirmation{
	position: relative;
	max-width: 60%;
	margin: 0 auto;
	top: 30%;
	font-size: 24px;
	display: none;
}
input{
	position: absolute;
	height: 36px;
	width: 260px;
	font-size: 20px;
}

/* CANVAS */
.wrapper_cont{
	position: absolute;
	background-color: black;
	height: 100%;
	width: 100%;
	top: 100%;
}
#container {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	top: 20%;
	background-color: white;
}
.orbit_anim{
	position: absolute;
	top: 85%;
	left: 40%;
	width: 250px;
	height: 150px;
	background-image: url('../public/json/assets/3D_animation.gif');
	background-size: contain;
}

/* Back to top  */
.btn_container{
	position: relative;
	top: 25%;
	left: 12%;
	width: 55px;
}
.back_to_top{
	position: relative;
	left: 25%;
	width: 26px;
	height: 39px;
	background-image: url('../public/json/assets/img/arrow.png');
}
.back_to_top_txt{
	position: relative;
	width: auto;
	font-family: neue-haas-unica, sans-serif;
	font-weight: 500; /* weigth = 500 (medium) - 400 (normal) - 600 (bold) */
}

.finish{
	position: relative;
	top: 90%;
	left: 80%;
}

/* PALETTE SELECTOR */
.color_wrapper{
	z-index: -100; 
	width: 95%;
	height: 92%;
	position: absolute;
	margin: 0 2.5%;
	top: 102%;
	background-color:rgb(21, 21, 21);
	overflow: scroll;
	font-family: neue-haas-unica, sans-serif;
	font-weight: 500; /* weigth = 500 (medium) - 400 (normal) - 600 (bold) */
}

.visibility{
	z-index: 10;
	overflow: scroll;
	animation: vis 0.8s cubic-bezier(.8, 0, .2, 1) forwards;
}
@keyframes vis {
    from{ transform: translate(0, 0); }
    to { transform: translate(0, -100.1%); }
}

/* CLOSE COLOR PALETTE */
.close{
	position: sticky;
	top: 1%;
	left: 1%;
	height: 30px;
	width: 30px;
	background: url('close.svg') no-repeat;
	background-size: contain;
	z-index: 10;
}
.close_txt{
	color: white;
	position: fixed;
	top: 1%;
	left: 5%;
	height: 30px;
	line-height: 30px;
}
.color_palette{
	width: 96%;
	margin: 0 2%;
	height: auto;
	position: absolute;
	top: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	overflow: scroll;
}
.color_palette div{
	height: 300px;
	width: 260px;
	margin: 15px 0 50px 0;
}
.color_palette div p {
	position: relative;
	color: white;
	top: 305px;
}
.on_focus{
	border: 3px solid white;
	width: 265px;
	height: 305px;
}

.top{
	z-index: 100;
}
.noScroll{
	overflow: hidden;
}

.magenta{
	background-color: #ff33cc;
}
.obsidian{
	background-color: #000000;
}
.lime{
	background-color: #ccff00;
}
.extramarine{
	background-color: #2a0dff;
}
.calx{
	background-color: #00ff00;
}
.orange{
	background-color: #ff5310;
}
.white{
	background-color: #fff;
}
.fuck{
	background-color: #ff0066;
}
.t_1{
	background-image: url('../public/json/assets/calcio/texture1.png');
}
.t_2{
	background-image: url('../public/json/assets/calcio/texture2.png');
}
.t_3{
	background-image: url('../public/json/assets/calcio/texture3.png');
}
.t_4{
	background-image: url('../public/json/assets/calcio/texture4.png');
}
.t_5{
	background-image: url('../public/json/assets/calcio/texture5.png');
}
.t_6{
	background-image: url('../public/json/assets/calcio/texture6.png');
}
.t_7{
	background-image: url('../public/json/assets/calcio/texture7.png');
}
.t_8{
	background-image: url('../public/json/assets/calcio/texture8.png');
}



/* ABOUT US */
.video{
	position: relative;
	margin-bottom: 200px;
	left: 50%;
	top: 120px;
	transform: translate(-50%);
}
#about_vid{
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

 /* Photo section  */
.photo_wrapper{
	position: relative;
	top: 30px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	margin: 0 50px;
}
.poster_container{
	position: relative;
	width: 100%;
	height: 800px;
	display: flex;
	flex-wrap: wrap;
}
.campaign_title{
	font-size: 76px;
	width: 100%;
}
.poster_1{
	background-image: url('../public/json/assets/about_us/pics/poster/allas.png');
}
.poster_2{
	background-image: url('../public/json/assets/about_us/pics/poster/mea.png');
}
.poster_3{
	background-image: url('../public/json/assets/about_us/pics/poster/bianca.png');
}
.about_pic{
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0px 21px 0;
	width: 30%;
	height: 550px;
}
.zoomed{
	position: absolute;
	height: 800px;
	width: 44%;
	left: 50%;
	transform: translate(-50%);
	background-repeat: no-repeat;
	background-size: cover;
}
.presentation{
	width: 100%;
	height: 1000px;
	position: absolute;
	top: 150px;
	display: none;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 3;
}
.show_poster{
	z-index: 2;
}
.close_poster{
	position: absolute;
	top: 1.5%;
	left: 75%;
	height: 36px;
	width: 36px;
	background: url('close.svg') no-repeat;
	background-size: contain;
	z-index: 10;
}
.shooting_title{
	font-size: 76px;
	max-width: 90%;
	margin: 20px auto 0;
}
.slideshow{
	max-width: 34%;
	height: 700px;
	margin: 30px auto 0;
}
.img-slider{
	background-size: contain;
	background-repeat: no-repeat;
	height: 700px;
	margin: 0 auto;
}

.img1{
	background-image: url('../public/json/assets/about_us/pics/in_tre.jpg');
}
.img2{
	background-image: url('../public/json/assets/about_us/pics/allas_seduto.jpg');
}
.img3{
	background-image: url('../public/json/assets/about_us/pics/allas1-opt.gif');
}
.img4{
	background-image: url('../public/json/assets/about_us/pics/meani_bianca.jpg');
}
.img5{
	background-image: url('../public/json/assets/about_us/pics/mea.jpg');
}
.img6{
	background-image: url('../public/json/assets/about_us/pics/bianca.jpg');
}
.img7{
	background-image: url('../public/json/assets/about_us/pics/allas.jpg');
}

/* SLICK RULES */
/* dots */
.slick-dots li button:before {
	color: white;
	font-size: 10px;
	padding: 10px;
}

.slick-dots li.slick-active button:before {
	color:#00ff00;
	font-size: 12px;
}

/* arrows */
.slick-prev:before {
	color: #00ff00;
	position: relative;
	left: -150%;
}
.slick-next:before {
	color: #00ff00;
	position: relative;
	left: 150%;
}


/* ICONS */
.collabs{
	position: relative;
	top: 92px;
	max-width: 90%;
	margin: 0 auto;
}
.cover{
	background-image: url('../public/json/assets/icons/Billie_Eilish/billie_cover.png');
	min-width: 100%;
	height: 800px;
	background-repeat: no-repeat;
}
.paragraph{
	width: 800px;
	font-size: 36px;
}

.intro_txt{
	margin-top: 20px;
	width: 700px;
	font-family: neue-haas-unica, sans-serif;
	font-weight: 500;
	font-size: 20px;
}
.table{
	position: relative;
	display: flex;
	width: 100%;
	height: 850px;
	margin: 30px 0 110px 0;
}
.artist{
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	width: 48%;
	height: 100%;
}
.weapon{
	position: absolute;
	left: 50%;
	background-size: contain;
	background-repeat: no-repeat;
}
.art_1{
	width: 48%;
	height: 100%;
	background-image: url('../public/json/assets/icons/Billie_Eilish/billie_2.jpg');
}
.gun_1{
	top: 10%;
	width: 48%;
	height: 80%;
	background-image: url('../public/json/assets/icons/Billie_Eilish/gun.png');
	background-position: 90%;
}
.cover_2{
	background-image: url('../public/json/assets/icons/Billie_Eilish/cover_2.jpg');
	min-width: 100%;
	height: 800px;
	background-size: cover;
	background-repeat: no-repeat;
}
.i_kill{
	position: relative;
	left: 50px;
	top:50px;
	font-size: 60px;
}

.slideshow_icons{
	max-width: 90%;
	height: 709px;
	margin: 120px auto 0;
}
.icons-slider{
	background-size: contain;
	background-repeat: no-repeat;
	height: 700px;
	margin: 0 auto;
}

.icon_1{
	background-image: url('../public/json/assets/icons/Billie_Eilish/sldshw/gun_1.jpg');
}
.icon_2{
	background-image: url('../public/json/assets/icons/Billie_Eilish/sldshw/gun_2.jpg');
}
.icon_3{
	background-image: url('../public/json/assets/icons/Billie_Eilish/sldshw/gun_3.jpg');
}


/* PROJECT */
.konami{
	background-image: url('https://media.giphy.com/media/5gwvhSehU9c0U/giphy.gif');
	position: fixed;
	width: 60%;
	height: 70%;
	height: 600px;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 10000;
	left: 50%;
	display: none;
}

.project_wrapper{
	max-width: 90%;
	margin: 0 auto 122px;
	position: relative;
	top: 102px;
}

.project_txt{
	margin-top: 30px;
	max-width: 90%;
	margin: 0 auto;
	font-family: neue-haas-unica, sans-serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 40kopx;
}
.project_title{
	font-size: 85px;
	font-weight: 500;
	line-height: 85px;
	margin-bottom: 30px;
}