<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trigger</title>


</head>
<body>
    <div class="content_wrapper" style="height: 100%;width: 90%;background-color: black;color: white;position: relative;">
        <div class="navbar" style="height: 100px;line-height: 100px;font-size: 22px;padding-left: 15px;border-bottom: 1px solid white;">Trigger</div>
        <p>SHOW OFF <br> YOUR STYLE</p>
        <div class="img" style="height: 150px;background-color: thistle;"></div>
        <div class="info_wrapper" style="border: 1px solid white;position: relative;">
            <div class="website" style="width: 170px;height: 30px;line-height: 30px;text-align: center;position: relative;top: 10px;left: 50%;transform: translate(-50%);border: 1px solid white;margin-bottom: 30px;">VISIT TRIGGER.COM</div>
            <p class="info" style="position: relative;font-size: 18px;">Se hai bisogno di ulteriori informazioni, contattaci al numero +39 02 12 34 56 78 o <a href="mailto:trigger.superfluo@gmail.com"> invia un’email. </a>
                <br><br>
                Cordiali saluti,
                il Servizio Clienti Trigger
            </p>
        </div>
        <div class="footer" style="height: 60px;line-height: 60px;">© 2019 Trigger</div>
    </div>
</body>
</html>