.fake_elements{
    display: none;
}

.png-container{
    width: 1600px;
    height: 896px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.png-container > * {
    width: 100%;
    height: 100%;
    position: absolute;
}


/* Si applica a tutti i png presenti */
.png-container > * > * {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    opacity: 0;
    background-size: cover;
    
}

.test{
    background-color: blue;
}


/* CALCIO */

#calcio{
    width: 100%;
    height: 100%;
}
.magenta_co{
    background-image: url('assets/calcio/magenta.png');
}
.obsidian_co{
    background-image: url('assets/calcio/black.png');
}
.lime_co{
    background-image: url('assets/calcio/radioactive.png');
}
.orange_co{
    background-image: url('assets/calcio/orange.png');
}
.calx_co{
    background-image: url('assets/calcio/calx.png');
}
.white_co{
    background-image: url('assets/calcio/pseudowhite.png');
}
.extramarine_co{
    background-image: url('assets/calcio/extramarine.png');
}
.fuck_co{
    background-image: url('assets/calcio/fuck.png');
}

.projected{
    opacity: 1;
    z-index: 10;
}